{% extends "layouts/admin.html" %}
{% load render_table from django_tables2 %}

{% block main_content %}
  <div class="app-content pt-3 p-md-3 p-lg-4">
    <div class="container-xl">
      <div class="row">
        <div class="col-md-6">
          <div class="app-card app-card-account shadow-sm d-flex flex-column align-items-start">
            <div class="app-card-body px-4 w-100">
              <div class="item border-bottom py-3">
                <div class="row justify-content-between align-items-center">
                  <div class="col-auto">
                    <div class="item-label mb-2"><strong>Photo</strong></div>
                    <div class="item-data"><img class="profile-image" src="https://avatars.dicebear.com/api/{{ record.patient.gender.lower }}/{{ record.patient.name }}.svg" alt=""></div>
                  </div><!--//col-->
                </div><!--//row-->
              </div><!--//item-->
              <div class="item border-bottom py-3">
                <div class="row justify-content-between align-items-center">
                  <div class="col-auto">
                    <div class="item-label"><strong>Name</strong></div>
                    <div class="item-data">{{ record.patient.name }}</div>
                  </div><!--//col-->
                </div><!--//row-->
              </div><!--//item-->
              <div class="item border-bottom py-3">
                <div class="row justify-content-between align-items-center">
                  <div class="col-auto">
                    <div class="item-label"><strong>Email</strong></div>
                    <div class="item-data">{{ record.patient.email }}</div>
                  </div><!--//col-->
                </div><!--//row-->
              </div><!--//item-->
               <div class="item border-bottom py-3">
                <div class="row justify-content-between align-items-center">
                  <div class="col-auto">
                    <div class="item-label"><strong>Age</strong></div>
                    <div class="item-data">
                      {{ record.patient.age }}
                    </div>
                  </div><!--//col-->
                </div><!--//row-->
              </div><!--//item-->
              <div class="item border-bottom py-3">
                <div class="row justify-content-between align-items-center">
                  <div class="col-auto">
                    <div class="item-label"><strong>Phone</strong></div>
                    <div class="item-data">
                      {{ record.patient.phone }}
                    </div>
                  </div><!--//col-->
                </div><!--//row-->
              </div><!--//item-->
              <div class="item border-bottom py-3">
                <div class="row justify-content-between align-items-center">
                  <div class="col-auto">
                    <div class="item-label"><strong>Location</strong></div>
                    <div class="item-data">
                      {{ record.patient.address }}
                    </div>
                  </div><!--//col-->
                </div><!--//row-->
              </div><!--//item-->
                <div class="item border-bottom py-3">
                <div class="row justify-content-between align-items-center">
                  <div class="col-auto">
                    <div class="item-label"><strong>Allergies</strong></div>
                    <div class="item-data">
                      {{ record.patient.allergies_str }}
                    </div>
                  </div><!--//col-->
                </div><!--//row-->
              </div><!--//item-->
            </div><!--//app-card-body-->
          </div>
        </div>
        <div class="col-md-6">
          <div class="row g-3 mb-4 align-items-center justify-content-between">
            <div class="col-auto">
              <h1 class="app-page-title mb-0">Appointments</h1>
            </div>
            <div class="col-auto">
              <div class="page-utilities">
                <div class="row g-2 justify-content-start justify-content-md-end align-items-center">
                  {#              <div class="col-auto">#}
                  {#                <form class="table-search-form row gx-1 align-items-center" action="." method="get" >#}
                  {#                  <div class="col-auto">#}
                  {#                      <input type="text" id="id_name" name="name" class="form-control search-orders" placeholder="Name">#}
                  {#                  </div>#}
                  {#                  <div class="col-auto">#}
                  {#                    <button type="submit" class="btn app-btn-secondary">Search</button>#}
                  {#                  </div>#}
                  {#                </form>#}
                  {##}
                  {#              </div>#}
                  <div class="col-auto">
                    <a class="btn app-btn-secondary" href="{% url 'appointments:list' %}?_export=csv">
                      <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-download me-1" fill="currentColor"
                           xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd"
                              d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5z"></path>
                        <path fill-rule="evenodd"
                              d="M7.646 11.854a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V1.5a.5.5 0 0 0-1 0v8.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3z"></path>
                      </svg>
                      Download CSV
                    </a>
                  </div>
                </div><!--//row-->
              </div><!--//table-utilities-->
            </div><!--//col-auto-->
          </div>
          <div class="app-card app-card-orders-table shadow-sm mb-5">
            <div class="app-card-body">
              <div class="table-responsive">
                {% render_table table %}
              </div><!--//table-responsive-->

            </div><!--//app-card-body-->
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock main_content %}
