{% extends "account/base.html" %}

{% load i18n %}
{% load crispy_forms_tags %}
{% load static %}

{% block head_title %}{% translate "Signup" %}{% endblock %}

{% block body_class %}app app-signup p-0{% endblock %}
{% block content %}
  <div class="row g-0 app-auth-wrapper">
    <div class="col-12 col-md-7 col-lg-6 auth-main-col text-center p-5">
      <div class="d-flex flex-column align-content-end">
        <div class="app-auth-body mx-auto">
          <div class="app-auth-branding mb-4"><a class="app-logo" href="{% url "home" %}">
            <img class="logo-icon me-2" src="{% static 'images/app-logo.svg' %}" alt="logo"></a>
          </div>
          <h2 class="auth-heading text-center mb-4">{% translate "Sign Up" %}</h2>
          <div class="auth-form-container text-start mx-auto">
            <form class="auth-form auth-signup-form" method="post" action="{% url 'account_signup' %}">
              {{ form|crispy }}
              {% if redirect_field_value %}
                <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
              {% endif %}
              <div class="extra mb-3">
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" value="" id="RememberPassword">
                  <label class="form-check-label" for="RememberPassword">
                    I agree to PHandler's <a href="#" class="app-link">Terms of Service</a> and <a href="#"
                                                                                                   class="app-link">Privacy
                    Policy</a>.
                  </label>
                </div>
              </div><!--//extra-->

              <div class="text-center">
                <button type="submit"
                        class="btn app-btn-primary w-100 theme-btn mx-auto">{% translate "Sign Up" %}</button>
              </div>
            </form><!--//auth-form-->
            <div class="auth-option text-center pt-5"><p>{% blocktranslate %}Already have an account? Then please
              <a href="{{ login_url }}">sign in</a>.{% endblocktranslate %}</p></div>
          </div><!--//auth-form-container-->


        </div><!--//auth-body-->

        <footer class="app-auth-footer">
          <div class="container text-center py-3">
            <!--/* This template is free as long as you keep the footer attribution link. If you'd like to use the template without the attribution link, you can buy the commercial license via our website: themes.3rdwavemedia.com Thank you for your support. :) */-->
            <small class="copyright">Designed with <i class="fas fa-heart" style="color: #fb866a;"></i> by <a
              class="app-link" href="http://themes.3rdwavemedia.com" target="_blank">Xiaoying Riley</a> for
              developers</small>
          </div>
        </footer><!--//app-auth-footer-->
      </div><!--//flex-column-->
    </div><!--//auth-main-col-->
    <div class="col-12 col-md-5 col-lg-6 h-100 auth-background-col">
      <div class="auth-background-holder">
      </div>
    </div><!--//auth-background-col-->

  </div><!--//row-->
{% endblock %}
